.header{
    display: inline-block;
    width: 100%;
}
.header-links {
    width: 33%;
    list-style-type: none;
    color: #63D5C4;
    text-decoration: none;
    line-height: 50px;
    margin-left: 21%;
    font-size: 30px;
    text-align: center;
}
